<ion-view view-title="Notify">

  <ion-content class="main-window">
    <div>

      <ul class="list">
        <li class="item">
          <select ng-model="notify.listOption">
            <option ng-repeat="option in notify.availableOptions" value="{{option.id}}">{{option.name}}</option>
          </select>
        </li>
        <li class="item">
          <textarea placeholder="Enter description here..."></textarea>
        </li>
        <li class="item">
          <input  type="text" placeholder="Date" />
        </li>
        <li class="item">
          <input  type="text" placeholder="Time" />
        </li>
        <li class="item" ng-show="notify.showCabOption">
          <ion-checkbox ng-model="notify.isCabAvailed">Need Cab ?</ion-checkbox>
        </li>
        <br/>
        <button class="button button-block button-positive">
          Submit
        </button>

      </ul>


    </div>

  </ion-content>
</ion-view>

