<ion-modal-view >
    <ion-header-bar>
        <h1 class="title">Confirmation!</h1>
    </ion-header-bar>
    <ion-content class="main-window">
        Your <strong>{{selectedOption.name}}</strong> status mail will be sent to following members :
            <ul>
                <li> -- Perry Wong</li>
                <li> -- Vaibhav Ranglani</li>
                <li> -- attendance.india@appdirect.com</li>
            </ul>
        <button class="button button-block button-positive" ng-click="closeModal()">
            Done
        </button>

    </ion-content>
</ion-modal-view>
