<ion-view view-title="Profile" hide-back-button="true">
  <ion-content class="main-window">
    <div class="list">
      <img class="profile--image" src="img/profile.png">
      <label class="item item-input">
        <div class="input-label">
          First Name
        </div>
        <input type="text" ng-readonly="true" placeholder="First Name" ng-model="user.firstName">
      </label>
      <label class="item item-input">
        <div class="input-label">
          Last Name
        </div>
        <input type="text" ng-readonly="true" placeholder="Last Name" ng-model="user.lastName">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Gender
        </div>
        <select required ng-model="user.gender">
          <option selected>Male</option>
          <option>Female</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Team
        </div>
        <select ng-options="team as team.name for team in teamList"
         ng-change="onTeamSelected(currentSelectedTeam)" ng-model="currentSelectedTeam">
        </select>
      </label>
      <button class="button button-block button-positive" ng-click="saveProfile()">
        Submit
      </button>
    </div>
  </ion-content>
</ion-view>
