<ion-view view-title="Status">
  <ion-content class="main-window">
    <p>Are you looking for other employee status ?</p>

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
    </div>

    <div class="item item-divider">
      Today
    </div>
    <div class="list">
      <a class="item item-icon-left" href="#">
        <i class="icon ion-person"></i>
        <span>LATE</span>
        <p>Doctor's appointment ...</p>
      </a>
    </div>

    <div class="item item-divider">
      Tomorrow
    </div>
    <div class="list">
      <a class="item item-icon-left" href="#">
        <i class="icon ion-person"></i>
        <span>PTO</span>
        <p>Going out of Pune</p>
      </a>
    </div>

    <div class="item item-divider">
      Upcoming
    </div>
    <div class="list">
      <a class="item item-icon-left" href="#">
        <i class="icon ion-person"></i>
        <span>OOO</span>
        <p>Going out of Pune</p>
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-person"></i>
        <span>PTO</span>
        <p>Going out of Pune</p>
      </a>
    </div>

  </ion-content>
</ion-view>

