<ion-view view-title="Status">
  <ion-content class="main-window">
    <p>Are you looking for other employee status ?</p>

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
    </div>
    <div ng-repeat="alertBlock in individualAlerts" ng-show="individualAlerts.length">
      <div class="item item-divider">
        {{alertBlock.name}}
      </div>
      <div class="list">
        <a class="item item-icon-left" href="#" ng-repeat="alert in alertBlock.data">
          <i class="icon ion-person"></i>
          <span>{{alert.name}} {{alert.status}} </span>
          <p>{{alert.description}}</p>
        </a>
      </div>
      <br>
    </div>
    <div class="item" ng-show="!individualAlerts.length">
      No notifications for the user
    </div>
  </ion-content>
</ion-view>

