<ion-view view-title="Team Alerts">
  <ion-content class="main-window">
    <div class="item item-divider">
      Today
    </div>
    <div class="list">
      <a class="item item-icon-left" href="#">
        <i class="icon ion-person"></i>
        <span>Rakesh [LATE] By : 2:00 P.M.</span>
        <p>Doctor's appointment ...</p>
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-person"></i>
        <span>Prashant [OOO] 12:00 To 2:00 P.M.</span>
        <p>Stepping out for lunch</p>
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-person"></i>
        <span>Rohit [WFH]</span>
        <p>Need to take care some personal stuff</p>
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-person"></i>
        <span>Nitin [Leaving-Early] By : 4:00 P.M </span>
        <p>Room hunt...</p>
      </a>
    </div>

    <div class="item item-divider">
      Tomorrow
    </div>
    <div class="list">
      <a class="item item-icon-left" href="#">
        <i class="icon ion-person"></i>
        <span>Rakesh [LATE] By : 2:00 P.M.</span>
        <p>Doctor's appointment ...</p>
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-person"></i>
        <span>Prashant [OOO] 12:00 To 2:00 P.M.</span>
        <p>Stepping out for lunch</p>
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-person"></i>
        <span>Rohit [WFH]</span>
        <p>Need to take care some personal stuff</p>
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-person"></i>
        <span>Nitin [Leaving-Early] By : 4:00 P.M </span>
        <p>Room hunt...</p>
      </a>
    </div>


    <div class="item item-divider">
      Upcoming
    </div>
    <div class="list">
      <a class="item item-icon-left" href="#">
        <i class="icon ion-person"></i>
        <span>Rakesh [LATE] By : 2:00 P.M.</span>
        <p>Doctor's appointment ...</p>
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-person"></i>
        <span>Prashant [OOO] 12:00 To 2:00 P.M.</span>
        <p>Stepping out for lunch</p>
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-person"></i>
        <span>Rohit [WFH]</span>
        <p>Need to take care some personal stuff</p>
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-person"></i>
        <span>Nitin [Leaving-Early] By : 4:00 P.M </span>
        <p>Room hunt...</p>
      </a>
    </div>

  </ion-content>
</ion-view>

