<ion-view view-title="Team Alerts" >
  <ion-content class="main-window">
    <div class="item item-divider">
      Today
    </div>
    <div class="list">
      <a class="item item-icon-left" href="#" ng-repeat="alert in teamAlertsDataToday">
        <i class="icon ion-person"></i>
        <span>{{alert.name}} {{alert.status}} </span>
        <p>{{alert.description}}</p>
      </a>
    </div>

    <div class="item item-divider">
      Tomorrow
    </div>
    <div class="list">
      <a class="item item-icon-left" href="#" ng-repeat="alert in teamAlertsDataTomorrow">
        <i class="icon ion-person"></i>
        <span>{{alert.name}} {{alert.status}} </span>
        <p>{{alert.description}}</p>
      </a>
    </div>


    <div class="item item-divider">
      Upcoming
    </div>
    <div class="list">
      <a class="item item-icon-left" href="#" ng-repeat="alert in teamAlertsDataUpcoming">
        <i class="icon ion-person"></i>
        <span>{{alert.name}} {{alert.status}} </span>
        <p>{{alert.description}}</p>
      </a>
    </div>

  </ion-content>
</ion-view>

