.main-window {
    padding: 10px;
}

.bar-header {
    border-color: #0c60ee !important;
    background-color: #387ef5 !important;
    color: #fff !important;;
}

.bar-header .header-item,.bar-header .header-item button {
    color: #FFF !important;
}

input,select,textarea {
    width: 100%;
}
.profile--image {
  margin: 5% 30%;
  width: 30%;
  height: 30%;

.or-text {
	text-align: center;
}
