.main-window {
    padding: 10px;
}

.bar-header {
    border-color: #0c60ee !important;
    background-color: #387ef5 !important;
    color: #fff !important;;
}

.bar-header .header-item,.bar-header .header-item button {
    color: #FFF !important;
}

input,select,textarea {
    width: 100%;
}
.profile--image {
    margin: 5% 30%;
    width: 30%;
    height: 30%;

}
.or-text {
	text-align: center;
}

.menu-img {
    font-size: 32px !important;
    margin-left: 5px;
}

.menu-username {
    font-size: 20px;
    font-weight: bold;
    padding: 14px;
}

.menu-icon{
    margin-right: 10px ;
}
select {
  background-color: #fff;
  border: 1px #dadada;
}

.toast_section {
  background-color: #33CD5F !important;
  opacity: 0.8 !important;
  filter: alpha(opacity=80)!important;
}

.ionic_toast_top {
  top: 40px !important;
}
